@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic);@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500,700);#app, #root {
  height: 100%; }

html,
body,
.page {
  font-family: 'Anonymous Pro';
  font-weight: 300;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding-top: 54px;
  background: #fff; }

html {
  overflow: hidden; }

.full-page {
  height: 100%;
  padding-top: 54px; }

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

html,
body {
  padding: 0;
  margin: 0;
  overflow: scroll;
  background-color: #fafafa; }

button {
  border-radius: 3px;
  padding: 20px;
  background-color: black;
  color: #fff;
  border: none;
  width: 90%;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  font-family: 'Anonymous Pro'; }

input {
  font-family: 'Anonymous Pro'; }

h1, h2 {
  font-family: 'Work Sans', sans-serif; }

.clear {
  clear: both; }

.item {
  flex-grow: 1; }

header.top {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: middle;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1;
  flex: 1 0 10%;
  background-image: url("/img/bg.png");
  background-size: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1000;
  color: #FFF;
  height: 54px;
  padding: 0 14px 0 14px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75); }

header.top .left {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative; }

header.top .left.active-initial::after {
  content: '';
  background-color: #1BFF90;
  height: 3px;
  left: 0;
  width: 54px;
  position: absolute;
  bottom: -10px;
  transform: scale(0); }

header.top .left.active::after {
  content: '';
  background-color: #1BFF90;
  height: 3px;
  left: 0;
  width: 54px;
  position: absolute;
  bottom: -10px;
  opacity: 1;
  transform: scale(1);
  transition: 0.2s transform cubic-bezier(0, 0, 0.2, 1); }

header.top .left img {
  width: 50%; }

header.top a.header-download i {
  font-size: 24px !important; }

.middle {
  display: flex;
  flex: 1; }

.middle nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

.middle nav a {
  flex: 1;
  text-align: center; }

header.top .right {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  align-items: center;
  flex: 1; }

header.top .right img {
  opacity: 0.7; }

header.top a i {
  font-size: 20px; }

header.top .ion-chevron-left {
  font-size: 14px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a, a:hover, a:active, a:visited {
  color: #fff;
  text-decoration: none; }

a i {
  font-size: 14px; }

.empty-message a {
  color: black;
  text-decoration: underline; }

.red {
  color: red; }

.green {
  color: #1BFF90; }

.feed-item header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px #ECECEC; }

.feed-item header .actor {
  display: flex;
  align-items: center; }

.feed-item header .actor a {
  color: #000; }

.feed-item header .actor span {
  margin-left: 8px; }

.feed-item header .actions {
  display: flex;
  align-items: center; }

.feed-item header .actions span {
  margin-left: 15px;
  font-size: 26px;
  color: #99A9B3; }

.feed-item header .actions a i {
  color: #99A9B3;
  font-size: 26px; }

.feed-item header .actions:first-child {
  margin-left: 0; }

.feed-item footer {
  background-color: #FAFAFA; }

.onboarding {
  margin: 10px 20px; }

.onboarding .user {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.onboarding .user-info {
  background-color: white;
  box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px; }

.onboarding .user-info span {
  font-weight: bold;
  text-align: left;
  display: inline-block;
  margin-left: 10px;
  color: black; }

.onboarding .follow-btn button {
  color: #000;
  width: 110px;
  height: 34px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 1px;
  padding: 6px 10px; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0; } }

.load-posts {
  color: #000;
  border-radius: 30px;
  border: 1px solid lime;
  position: fixed;
  top: 70px;
  background-color: #1BFF90;
  width: 174px;
  padding: 6px;
  text-transform: uppercase;
  font-weight: 700;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12); }

.grid {
  display: flex; }

.grid-cell {
  flex: 1; }

.full-width {
  width: 100%; }

.photo-item-footer {
  padding: 20px; }

.photo-item-footer:last-child {
  padding-bottom: 50px; }

.photo-item-footer .loc {
  color: #544f4b; }

.photo-item-footer h4 {
  font-weight: 400;
  margin-top: 0;
  margin-left: 0;
  color: #4d4844;
  width: 100%; }

.photo-item-footer i {
  float: right;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  vertical-align: top; }

.ion-ios-heart {
  color: #FF5452;
  font-size: 22px; }

.ion-ios-heart-outline {
  font-size: 22px; }

.photo-item-footer li {
  padding-right: 18px;
  float: left;
  margin-bottom: 8px;
  color: #b3bbc0;
  font-size: 14px;
  font-weight: 400;
  position: relative; }

.photo-item-footer .dash {
  height: 4px;
  width: 16px;
  left: -20px;
  top: 10px;
  position: relative;
  background-color: #1BFF90; }

.photo-metadata {
  bottom: -34px;
  margin: 0 20px 0 20px;
  position: relative; }

.photo-metadata a {
  color: #000; }

.photo-metadata .artist {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin-top: -20px;
  height: 55px;
  width: 200px;
  float: left;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700; }

.photo-metadata .artist img {
  margin-right: 6px;
  height: 55px;
  width: 55px; }

.photo-metadata .like-count {
  color: red;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  float: right; }

.photo-comments {
  margin-top: 8px;
  margin-bottom: 25px;
  padding: 60px 20px 20px 20px;
  background-color: #FAFAFA; }

.comment {
  height: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 42px; }

.comment a {
  color: #4D5FFE; }

.comment .actor {
  color: #15c88c;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  float: left; }

.comment .time {
  font-size: 12px;
  font-weight: bold;
  color: #b3bbc0;
  float: right; }

.comment .text {
  padding-top: 16px;
  font-size: 12px;
  clear: both; }

.add-comment form {
  width: 100%;
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0; }

.add-comment input {
  height: 25px;
  width: 100%;
  padding: 12px;
  font-weight: 200;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none; }

.add-comment button {
  color: #000;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 40px;
  text-align: right;
  position: fixed;
  right: 14px;
  bottom: 13px; }

.upload label {
  padding: 0 !important; }

.upload-form {
  text-align: center; }

.upload-form .inner {
  margin-bottom: 80px; }

.upload-form button[type="submit"] {
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  text-transform: uppercase;
  color: black;
  background-color: #1bff90; }

.upload-form {
  height: 725px; }

.upload-form .upload {
  height: 275px;
  width: 100%;
  margin-bottom: 25px;
  background-color: #f3f3f3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.upload label {
  text-transform: capitalize !important;
  font-size: 22px;
  cursor: pointer; }

.upload {
  cursor: pointer; }

.upload .ion-ios-cloud-upload-outline {
  font-size: 48px;
  text-align: center; }

.upload #file {
  display: none; }

.upload #filename {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
  display: block;
  overflow: hidden; }

.form-group label {
  text-align: left;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.form-group input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #F0F0F0;
  border-radius: 0;
  width: 90%;
  margin-bottom: 18px;
  padding-bottom: 20px;
  font-weight: 200;
  font-size: 16px;
  outline: none;
  background-color: transparent; }

.add-photo {
  color: #000;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 300;
  height: 50px;
  width: 50px;
  background-color: #1bff90;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 25px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center; }

.add-photo i {
  font-size: 30px; }

.explore {
  height: 215px; }

.explore h1 {
  color: #c5c5c5;
  font-size: 60px;
  top: -54px;
  left: -1px;
  float: left;
  position: relative;
  text-transform: uppercase;
  margin: 0; }

.explore img {
  width: 100%; }

.explore div:nth-child(2) {
  width: 175px;
  height: 125px;
  top: -50px;
  position: relative;
  z-index: 400; }

.explore div:nth-child(3) {
  width: 125px;
  height: 100px;
  top: -50px;
  left: 144px;
  position: relative;
  z-index: 402; }

.explore div:nth-child(4) {
  width: 175px;
  height: 125px;
  top: -190px;
  left: 250px;
  position: relative;
  z-index: 401; }

.see-all {
  position: relative;
  float: right;
  top: 150px;
  right: -3px;
  z-index: 999;
  background-color: #cbbe2a;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400; }

.explore-grid {
  background-color: #f3f3f3;
  margin-top: 2px;
  min-height: 520px; }

.explore-grid h2 {
  color: #c5c5c5;
  font-size: 30px;
  text-transform: uppercase;
  top: -18px;
  left: -1px;
  position: relative;
  margin: 0; }

.grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }

.grid .grid-cell {
  flex: none;
  width: 31%;
  padding: 0.25em 1% 0 1%;
  margin-left: 1px; }

.grid .grid-cell img {
  width: 100%;
  cursor: pointer; }

.follow-profile, .following-profile {
  color: #000;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  top: 30px;
  right: 9px;
  z-index: 1500;
  height: 50px;
  width: 50px;
  background-color: #1bff90;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center; }

.following-profile {
  background-color: #fff;
  font-size: 30px;
  color: #1bff90; }

.follow-profile i {
  font-size: 30px; }

.profile h1 {
  opacity: 0.1;
  color: #000000;
  font-size: 50px;
  letter-spacing: 4px;
  top: -11px;
  left: -4px;
  position: relative;
  text-transform: uppercase;
  margin: 0; }

.profile .artist {
  margin: 20px;
  position: relative;
  top: -64px;
  margin-bottom: -55px;
  font-family: 'Work Sans', sans-serif; }

.profile .avatar {
  height: 155px;
  width: 155px;
  float: left;
  margin-right: 30px;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  -webkit-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75); }

.profile .contributions {
  margin-top: -18px;
  margin-bottom: 85px;
  background-color: #f5f5f5;
  min-height: 450px; }

.profile .contributions .grid {
  margin-top: -34px; }

.profile .avatar img {
  width: 100%; }

.profile .name {
  font-weight: 500;
  font-size: 34px;
  -webkit-flex: 2 0 0;
  flex: 2 0 0; }

.profile .follow-count {
  color: #cbcbcb;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 26px; }

.profile .artist span {
  color: #000; }

.profile h2 {
  opacity: 0.1;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  top: -34px;
  left: -1px;
  font-size: 30px;
  letter-spacing: 3px; }

.item.middle a {
  opacity: 0.6; }

.item.middle a.active {
  opacity: 1; }

.item.middle .bell.alert::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #1bff90;
  top: 0;
  right: 10px;
  position: absolute;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0; }

.item.middle {
  position: relative; }

.item.middle .indicator {
  background-color: #1BFF90;
  height: 3px;
  position: absolute;
  bottom: -18px;
  transition: 0.2s left ease-in-out; }

.profile .navigation {
  width: 100%;
  padding-top: 14px;
  padding-right: 20px;
  background-color: #f5f5f5;
  float: left;
  margin-top: -50px; }

.profile .navigation .item {
  font-weight: 400;
  font-size: 20px;
  color: #dbdbdb;
  height: 75px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4; }

.profile .item span:nth-child(1) {
  color: #000;
  margin-left: 20px;
  white-space: nowrap;
  display: inline-block;
  width: auto; }

.profile .item span:nth-child(3) {
  color: #000;
  margin-right: 20px;
  float: left;
  position: relative; }

.profile .item .fill {
  height: 20px;
  width: 100%;
  display: inline-block;
  position: relative;
  top: -4px;
  /*border-bottom: 2px dotted #dcdcdc;*/ }

.profile button {
  width: 100%;
  height: 80px;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0; }

.stats .row {
  margin-top: 10px;
  margin-left: 10px; }

.stats .item {
  padding: 20px;
  background-color: #f5f5f5; }

.stats .item h1 {
  font-size: 18px;
  text-transform: uppercase;
  color: #787878;
  margin: 0;
  margin-bottom: 8px; }

.stats span {
  font-size: 16px;
  font-weight: 700; }

.stats div {
  font-weight: 400;
  font-size: 18px; }

.stats .grid {
  margin-bottom: 20px; }

.stats .grid div {
  margin-bottom: 10px;
  min-width: 152px; }

.stats .content {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px; }

.stats .most-views-from h1 {
  color: #c3c3c3;
  font-size: 34px;
  text-transform: uppercase;
  margin: 0;
  opacity: 0.6;
  top: -40px;
  left: -1px;
  position: relative;
  z-index: 999; }

.stats .most-views h1 {
  color: #c3c3c3;
  font-size: 34px;
  text-transform: uppercase;
  margin: 0;
  opacity: 0.6;
  top: -40px;
  left: -1px;
  position: relative;
  z-index: 999; }

.stats .most div {
  position: relative;
  color: #000; }

.stats .most ol {
  margin-top: -10px;
  margin-left: 20px;
  margin-right: 14px; }

.stats .footer-content {
  width: 350px;
  height: 50px;
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
  margin: -60px auto 0 auto;
  -webkit-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75); }

.stats .footer-content .clear {
  margin-top: 12px; }

.search h1 {
  opacity: 0.1;
  color: #000000;
  font-size: 60px;
  letter-spacing: 4px;
  top: -15px;
  right: -9px;
  float: right;
  position: relative;
  text-transform: uppercase;
  margin: 0; }

.search input {
  border-radius: 0;
  height: 40px;
  padding: 10px 30px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #c3c3c3;
  outline-color: #1BFF90;
  background-color: #fff;
  font-size: 16px;
  width: 78%;
  opacity: 0.8;
  top: -52px;
  display: flex;
  align-items: center;
  z-index: 999;
  -webkit-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75); }

.search button[type="submit"] {
  border: none;
  cursor: pointer;
  color: #000;
  background-color: transparent;
  position: relative;
  top: -117px;
  right: 30px;
  width: 14px;
  float: right;
  font-size: 28px; }

.search .history {
  margin-top: -30px; }

.search .history li {
  font-weight: 400;
  font-size: 20px;
  padding: 24px;
  border-bottom: 1px solid #d6d6d6; }

.search .history li:first-of-type {
  border-top: 1px solid #d6d6d6; }

.search .results li {
  font-weight: 400;
  font-size: 20px;
  padding: 24px;
  border-bottom: 1px solid #d6d6d6; }

.search .results .result-inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search .results .result-inner.result-user {
  justify-content: flex-start; }

.search .results .result-inner.result-user span {
  margin-left: 20px; }

.search .results li strong {
  font-weight: normal; }

.search .results li span {
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-size: 16px;
  margin-right: -18px; }

.search .results li:first-of-type {
  border-bottom: 1px solid #d6d6d6; }

.no-results {
  margin-top: 20%;
  text-align: center; }

.notifications {
  padding-top: 20px;
  font-weight: 400;
  background-color: #f5f5f5; }

.notifications .actor {
  color: #000; }

.timeline .mention {
  color: #4c5efe; }

.timeline .quote {
  padding-top: 15px; }

.timeline .quote span {
  float: left;
  font-size: 32px; }

.timeline .quote p {
  color: #818181; }

.timeline li {
  padding-left: 20px;
  min-height: 95px;
  border-bottom: 1px solid #d6d6d6; }

.timeline .quote p {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
  float: left;
  margin-left: 12px;
  font-size: 16px; }

.timeline .top img {
  margin: 10px 18px 0 0;
  float: right;
  -webkit-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px -8px rgba(0, 0, 0, 0.75); }

.timeline .actor {
  background-color: #fff; }

.timeline .avatar {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  float: left; }

.timeline .avatar img {
  height: 100%;
  width: 100%;
  margin: 0; }

.timeline .name {
  float: left;
  height: 100%;
  font-weight: bold;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  color: #000; }

.timeline .actor {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); }

.timeline .vertical-line {
  height: 65px;
  width: 2px;
  margin-left: 25px;
  border-left: 2px dashed #d6d6d6;
  float: left;
  position: relative; }

.timeline .vertical-line i {
  position: relative;
  top: 30px;
  left: -8px; }

.timeline .message {
  position: relative;
  top: 13px;
  left: 12px;
  color: #818181; }

.timeline .follow .actor:last-child {
  margin-bottom: 10px; }

.timeline .grid-cell {
  position: relative;
  padding: 0.25em 0 0 0.25em; }

.timeline .grid-cell:nth-child(-n+1) {
  padding-left: 0; }

.timeline .grid-cell:nth-child(-n+3) {
  padding-top: 0; }

.timeline .grid-cell img {
  width: 100%; }

.following-activity {
  padding-top: 20px;
  font-weight: 400;
  background-color: #f5f5f5; }

.following-activity .follow-btn button {
  color: #000;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  width: 90px;
  height: 34px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 1px;
  padding: 6px 10px;
  margin-top: -50px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: right; }

.following-activity .follow-btn button.following {
  background-color: #1BFF90;
  border: none;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2); }

.landing {
  height: 100%;
  width: 100%;
  background-image: url("//react-example-app.imgix.net/defaults/landing.png?auto=enhance&fit=crop&fm=png&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center; }

.landing .facebook-login-root {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; }

.landing .facebook-login {
  margin: auto;
  background-color: transparent;
  text-transform: uppercase;
  vertical-align: text-top;
  position: relative;
  font-size: 20px; }

.landing .facebook-login i {
  font-size: 32px;
  position: relative;
  display: inline-block;
  top: 0;
  margin-right: 6px;
  -webkit-transform: translateY(18%);
  -moz-transform: translateY(18%);
  transform: translateY(18%); }

.location {
  height: 100%;
  background-color: #fff; }

.location .map {
  height: 275px;
  width: 100%; }

.location .images {
  background-color: #fafafa;
  margin-top: 20px;
  height: 100%; }

.location .images h1 {
  color: #c5c5c5;
  font-size: 30px;
  text-transform: uppercase;
  top: -18px;
  position: relative;
  margin: 0; }
.tabs header {
  position: relative;
  background: none;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  margin-top: -40px; }

.tabs header .items {
  display: flex; }

.tabs header button {
  background: none;
  outline: none;
  border: 0;
  padding: 0;
  color: black;
  opacity: 0.6;
  border-radius: 0;
  padding-bottom: 15px; }

.tabs header button.active {
  opacity: 1;
  /*border-bottom: 2px solid black;
    margin-bottom: -1px;*/ }

.tabs header .indicator {
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  transition: 0.5s left ease-in-out; }
