<!DOCTYPE html>
<html>
  <head>
    <title>Cabin</title>
  </head>
  <body>
        <div style="border: 1px solid #F1F1F1; margin: 5% auto 0 auto; height: 736px; width: 414px;">
            <iframe src="/" width="414" height="736" frameborder="0" allowfullscreen="false"></iframe>
        </div>
  </body>
</html>
